[Desktop Entry]
Name=Udisks
Comment=Volume-Management
Icon=udisks
Exec=udisks-glue
Terminal=false
Type=Application
NoDisplay=true
NotShowIn=KDE;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=udisks
X-GNOME-Bugzilla-Component=general
X-GNOME-Autostart-enabled=true
