#!/bin/sh
PATH="/sbin:/usr/sbin:/bin:/usr/bin"

NAME="hostapd"
USER="root"
RUNDIR="/var/run/$NAME"
PIDFILE="/var/run/$NAME.pid"
CONFIG="/etc/hostapd.conf"
PROG="/usr/sbin/hostapd"
ARGS="-B -P $PIDFILE $CONFIG"

case $1 in
start)
	install -d -m 755 -o $USER $RUNDIR || exit 1
	start-stop-daemon --start --pidfile $PIDFILE --exec $PROG -- $ARGS
	;;
stop)
	start-stop-daemon --stop --retry 60 --pidfile $PIDFILE --remove-pidfile
	;;
restart)
	$0 stop
	$0 start
	;;
status)
	start-stop-daemon --status --pidfile $PIDFILE
	case $? in
	0) echo "$PROG running with pid: $(cat $PIDFILE)" ;;
	1) echo "$PROG not running, stale pidfile: $PIDFILE" ;;
	3) echo "$PROG not running" ;;
	4) echo "Unable to determine program status" ;;
	esac
	;;
*)
	echo "usage: $0 [start|stop|restart|status]"
	;;
esac

