! ------------------------------------------------------------------------------
!  hu.rc
!  This file is part of Unifix BWidget Toolkit
!  Definition of Hungarian resources
! ------------------------------------------------------------------------------


! --- symbolic names of buttons ------------------------------------------------

*abortName:   &Kilép
*retryName:   &Ismétel
*ignoreName:  &Ignorál
*okName:      &OK
*cancelName:  &Kilép
*yesName:     &Igen
*noName:      &Nem


! --- symbolic names of label of SelectFont dialog ----------------------------

*boldName:       Kövér
*italicName:     Dõlt
*underlineName:  Aláhúzott
*overstrikeName: Áthúzott
*fontName:       &Betûtípus
*sizeName:       B&etûméret
*styleName:      Be&tûstílus

! --- symbolic names of label of PasswdDlg dialog -----------------------------

*loginName:    &Azonosító
*passwordName: &Jelszó


! --- resource for SelectFont dialog ------------------------------------------

*SelectFont.title:	    Betûtípus kiválasztása
*SelectFont.sampletext:	    Példaszöveg


! --- resource for MessageDlg dialog ------------------------------------------

*MessageDlg.noneTitle:      Információ
*MessageDlg.infoTitle:      Utalás
*MessageDlg.questionTitle:  Kérdés
*MessageDlg.warningTitle:   Figyelmeztetés
*MessageDlg.errorTitle:     Hiba


! --- resource for PasswdDlg dialog -------------------------------------------

*PasswdDlg.title:  Azonosító és jelszó
