
#ICEWM_THEME=blueCrux   # Default IceWM theme
#SESSION_#_TYPE=icewm
#HIDE_CONTROLS		Hide all menus and the task bar
#MENU_SHOWRES=off       Hide resolution menu.
#MENU_SHOWAPPS=off	Hide apps menu.
#MENU_SHOWABOUT=off	Hide about menu.
#MENU_SHOWLOGOUT=off	Hide logout menu.
#MENU_SHOWCLOCK=off     Hide the clock on the taskbar
#MENU_EXTRA=only	Enable eclusive menu loading from another location
#MENU_EXTRA_DIR="PATH"	Directory to load extra menus from
