
##
# --- Xfwm4 Theme Selection
#
# XFWM4_THEME            Selects the theme that xfwm4 will use for window
#                        borders and colors. Default by default
#                        Set to ALL to include all themes. Otherwise....
#                        Available themes:
#                                         Adept
#                                         Agua
#                                         Agualemon
#                                         Alternate
#                                         Atlanta
#                                         Atlanta2
#                                         B5
#                                         B6
#                                         BBS
#                                         Basix
#                                         Beastie
#                                         Biz
#                                         Blackwall
#                                         Buzz
#                                         Coldsteel
#                                         Coolclean
#                                         Crux
#                                         Cruxish
#                                         Curve
#                                         Daloa
#                                         Default
#                                         Defcon-IV
#                                         Eazel-blue
#                                         Elberg
#                                         Exocet
#                                         Fbx
#                                         G2
#                                         Galaxy
#                                         Gaudy
#                                         Gelly
#                                         Gnububble
#                                         Gorilla
#                                         Gtk
#                                         Iceg
#                                         Kde
#                                         Kde1
#                                         Keramik
#                                         Kindaker
#                                         Kleanux
#                                         Kokodi
#                                         Koynacity
#                                         LineArt
#                                         Linea
#                                         Meenee
#                                         Metabox
#                                         Microcurve
#                                         Microdeck
#                                         Microdeck2
#                                         Microdeck3
#                                         Microgui
#                                         Mofit
#                                         Moheli
#                                         Next
#                                         Ops
#                                         Opta
#                                         Oroborus
#                                         Perl
#                                         Pills
#                                         Piranha
#                                         Platinum
#                                         Prune
#                                         Quiet-purple
#                                         Quinx
#                                         R9X
#                                         Redmond
#                                         RedmondXP
#                                         Retro
#                                         Silverado
#                                         Slick
#                                         Slimline
#                                         Smallscreen
#                                         Smoothwall
#                                         Symphony
#                                         Synthetic
#                                         TUX
#                                         Tabs
#                                         Tgc
#                                         Tgc-large
#                                         Today
#                                         Totem
#                                         Trench
#                                         Triviality
#                                         Tubular
#                                         Variation
#                                         Waza
#                                         Wildbush
#                                         Xfce

XFWM4_THEME=Xfce

