/initrd/initrd
/initrd/vmlinuz*
/initrd/kernel_parameters
/initrd/image.md5
/initrd/lib.squash
/initrd/syslinux.files
/iso
/pkg-packages
/pxe/boot
/pxe/pxelinux.cfg
/syslinux/syslinux
/syslinux/boot
/common/
/templates/lps/
