[Unit]
Description=A daemon which can be used to alert you in the event of a hardware health monitoring alarm

[Service]
Type=forking
ExecStart=/usr/bin/healthd

[Install]
WantedBy=multi-user.target
