# Setup for a "desktop kiosk" e.g. a desktop without any system menus
# SESSION_0 and SESSION_1 is MANDATORY. More sessions may be added.

#ICONMODE=MANUAL
#MENU_SHOWABOUT=true	# Have an about box or not

#SESSION_0_TITLE="openbox"
#SESSION_0_TYPE=openbox
#SESSION_0_AUTOSTART=On

#SESSION_1_TITLE="Exit"
#SESSION_1_TYPE=poff
#SESSION_1_AUTOSTART=Off
#SESSION_1_ICON=On

# Add any additional package you may want, but keep AUTOSTART=Off and
# ICON=On for each session

#SESSION_2_TITLE="rdesktop"
#SESSION_2_TYPE=rdesktop
#SESSION_2_RDESKTOP_SERVER=10.0.0.4
#SESSION_2_RDESKTOP_OPTIONS="-f -u '' -a 24"
#SESSION_2_AUTOSTART=Off
#SESSION_2_ICON=On

#SESSION_3_TITLE=Firefox
#SESSION_3_TYPE=firefox
#SESSION_3_AUTOSTART=Off
#SESSION_3_ICON=On

# End of desktop kiosk setup
