##
# -- Card Reader Options

#PCSCD_CARDREADER_PORT           # Specify port for serial card, not needed for USB
#PCSCD_CARDREADER_TYPE           # Can be SERIAL or USB

#PCSCD_CARDREADER_PORT="/dev/ttyS0"
#PCSCD_CARDREADER_TYPE="USB"

