
# -- Additional Options For use in thinstation.conf.buildtime only:
#
# NET_FILE_METHOD        Method to download files, ie scp or tftp
# NET_FILE_USER          User to connect to SCP server as

#NET_FILE_METHOD=tftp
#NET_FILE_USER=not_needed_for_tftp


