
# -- Additional HD Update options
#
# HDUPDATE_SERVER_TYPE      Supported types are, tftp or scp
# HDUPDATE_USER             Username connection to scp server as

#HDUPDATE_SERVER_TYPE=scp
#HDUPDATE_USER=donald
