[Desktop Entry]
Exec=xscreensaver-demo
Icon=xscreensaver
Terminal=false
Name=Screensaver
Name[pt_BR]=Protetor de tela
Comment=Change screensaver properties
Comment[pt_BR]=Modificar as propriedades do protetor de tela
Type=Application
Categories=Settings;DesktopSettings;Security;X-XFCE;
