# You can have any amount of spaces/tabs between names
# HOST		MAC		GROUPS			COMMENTS
thinstation1 	000103014152	samba netprinter 	# Donald Ducks Computer
thinstation2 	001003041125	samba			# Daffy Ducks Computer
thinstation3	411250010030	netprinter		# Goofy's Computer
