#        
#   INPUTATTACHMODE :: type of device being attached
#                       run "inputattach --help" for list
#   INPUTATTACHDEVICE :: port the device is attached to
#
       INPUTATTACHMODE=-elo
       INPUTATTACHDEVICE=/dev/ttyS0
#
