#
# /etc/my.cnf
#

[mysqld]
datadir          = /var/lib/mysql
user             = mysql
pid-file         = /var/run/mysql/mysqld.pid
socket           = /tmp/mysql.sock
port             = 3306
#general_log      = 1
#general_log_file = /var/log/mysql/general.log

skip-networking
skip-innodb
default-storage-engine = MYISAM
default-tmp-storage-engine = MYISAM

[client]
socket = /tmp/mysql.sock
port   = 3306

# End of file
