#
# /etc/my.cnf
#

[mysqld]
datadir          = /var/lib/mysql
user             = mysql
pid-file         = /var/run/mysqld.pid
socket           = /tmp/mysql.sock
port             = 3306
general_log      = 1
general_log_file = /var/log/mysqld.log

skip-networking
skip-innodb
default-storage-engine = MYISAM


[client]
socket = /tmp/mysql.sock
port   = 3306

# End of file
