#
# /etc/crontab: crond(8) configuration
#

@hourly   ID=sys.hourly   /usr/sbin/runjobs /etc/cron/hourly
@daily    ID=sys.daily    /usr/sbin/runjobs /etc/cron/daily
@weekly   ID=sys.weekly   /usr/sbin/runjobs /etc/cron/weekly
@monthly  ID=sys.monthly  /usr/sbin/runjobs /etc/cron/monthly

# End of file
